aiohttp==3.7.4
async-timeout==3.0.1
attrs==21.1.0
chardet==3.0.4
discord.py==1.7.2
idna==3.1
multidict==4.7.6
Pillow==8.2.0
pony==0.7.14
pysaucenao==1.6.1
typing-extensions==3.10.0.0
yarl==1.5.1
sentry-sdk==1.0.0
